<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-right" style="margin-bottom:15px">
      <button class="btn btn-default" (click)="changeView(true)"><span class="glyphicon glyphicon-th"></span></button>
      <button class="btn btn-default" (click)="changeView(false)"><span class="glyphicon glyphicon-th-list"></span></button>
    </div>
  </div>
</div>

<div class="row" *ngIf="gridView">
  <div class="col-xs-6 col-md-3" *ngFor="let image of images">
    <cl-image public-id="{{image.image_id}}" (click)="show(image)" fetch_format="jpg" quality="20" height="200" width="200">
      <cl-transformation effect="shadow"></cl-transformation>
    </cl-image>
  </div>
</div>

<div class="row" *ngIf="!gridView">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Image Name</th>
          <th>Created</th>
          <th> Cloud Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of images" (click)="show(image)">
          <td>
            <cl-image public-id="{{image.image_id}}" fetch_format="jpg" quality="10" height="50" width="100">
            </cl-image>
          </td>
          <td>{{image.name}}</td>
          <td>{{image.created_at | date}}</td>
          <td>{{image.url}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<app-modal [title]="title" [size]='"large"' [closable]="true">
  <div class="row"  xmodal-body>
    <cl-image *ngIf="selectedImage" public-id="{{selectedImage.image_id}}" fetch_format="jpg" quality="10" style="height:100%;width:100%;" >
    </cl-image>
  </div>
  <div xmodal-footer>
    <button type="button" class="btn btn-danger" (click)="deleteImage(selectedImage._id)">Delete</button>
    <button type="button" class="btn btn-default" (click)="close()">close</button>
  </div>

</app-modal>
