<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->

      <a [routerLink]="['gallery']" class="logo">
        <span class="logo-lg"><b>Hack</b>Cl</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

          <li class="header">Hack-Cl</li>

          <li>
            <a  [routerLinkActive]="['active']" [routerLink]="['gallery']">
              <i class="fa fa-th"></i> <span>Gallery</span>
            </a>
          </li>

          <li>
            <a [routerLinkActive]="['active']" [routerLink]="['upload']">
              <i class="glyphicon glyphicon-cloud-upload"></i> <span>Upload</span>
            </a>
          </li>
          <!--<li>
            <cl-image public-id="readme" class="thumbnail inline" angle="20" format="jpg">
              <cl-transformation height="150" width="150" crop="fill" effect="sepia" radius="20"></cl-transformation>
              <cl-transformation overlay="text:arial_60:readme" gravity="north" y="20"></cl-transformation>
          </cl-image>
          </li>-->
        </ul>

      </section>
      <!-- /.sidebar -->
    </aside>

    <div class="content-wrapper">
      <section class="content-header">
        <h1>
         {{title}}
        </h1>
        <ol class="breadcrumb">
          <li><a [routerLink]="['gallery']"><i class="fa fa-dashboard"></i> Hack-Cli</a></li>
          <li class="active">{{title}}</li>
        </ol>
        <hr />
      </section>

      <!-- Main content -->
      <section class="content">
         <router-outlet></router-outlet>
      </section>

    </div>

    <footer class="main-footer text-center">
      
      <strong>Copyright &copy; 2014-2016 Hack-Cl.</strong> All rights reserved.

    </footer>
  </div>
  <app-loader></app-loader>
